<!DOCTYPE HTML>
<html>
<head>
    <title>하루스케치</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{!-- 부트스트랩 css 추가 --}}
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    {{!-- css는 <head>에 js는 <body>의 최하단에 두는 이유는 페이지 로딩 속도를 높이기 위함 --}}
    {{!-- css는 화면을 그리는 역할을 하기 때문에 head에서 불러오는 것이 좋다.     --}}
</head>
<body>
    <h1>하루 스케치 Ver.6</h1>

    <div class="col-md-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">글 등록</button>
        <br/>
        <br/>
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>게시글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>최종수정일</th>
                </tr>
            </thead>
            <tbody id="tbody">
             {{#each posts}} {{!-- posts라는 리스트를 순회하여 하나씩 꺼내 각각의 필드값을 채워서 테이블에 출력 --}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{author}}</td>
                    <td>{{createdDate}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Modal 영역 -->
    <div class="modal fade" id="savePostsModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="savePostsLabel">게시글 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="author"> 작성자 </label>
                            <input type="text" class="form-control" id="author" placeholder="작성자를 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="content"> 내용 </label>
                            <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- 부트스트랩 js, jquery 추가 --}}
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    {{!-- bootstrap은 jquery에 의존하기 때문에 bootstrap보다 jquery가 먼저 호출되도록 한다. --}}

    {{!-- custom js 추가 --}}
    <script src="/js/app/main.js"></script>
</body>
</html>